BuildingEscape/Build/
BuildingEscape/Binaries/
BuildingEscape/Content/StarterContent/Textures
BuildingEscape/Content/StarterContent/HDR1
BuildingEscape/Intermediate/
BuildingEscape/Saved/
BuildingEscape/DerivedDataCache/
*.VC.db
